<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/simple-grid.css">
  <title>Document</title>
</head>
<body>
  <div>
    Enter Scores from Last Over 
  </div>
  <form action="/score" method="POST">
  <input name="scoreString" rows='1' cols="15" class="lastOver" placeholder="enter over scores"> </input>
  <button type="submit"> </button>
  </form>
  <div>
    {{}}
  </div>
  </div>
</body>
</html>